project_id              = "worklyhub"
region                  = "us-central1"
google_credentials_file = "C:/replace/with/your/terraform-sa.json"

artifact_registry_repository_id = "worklyhub-frontend-prod"
cloud_run_service_name          = "worklyhub-frontend-prod"
runtime_service_account_id      = "worklyhub-fe-prd-run"

min_instance_count = 1
max_instance_count = 5
cpu                = "1"
memory             = "512Mi"

runtime_env_vars = {
  ENVIRONMENT = "production"
}
